@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .glass {
        @apply bg-white bg-clip-padding bg-opacity-60
    }
}

.blue-glassmorphism{
    background-image : #b8f1ff;
    background-image : radial-gradient(at 40% 20%, hsla(244, 91%, 48%, 1)0, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1)0, transparent 50%),
    radial-gradient(at 0% 50%, hsla(191, 92%, 48%, 1)0, transparent 50%),
    radial-gradient(at 80% 50%, hsla(212, 44%, 80%, 1)0, transparent 50%),
    radial-gradient(at 13% 93%, hsla(0, 0%, 99%, 1)0, transparent 50%),
    radial-gradient(at 82% 82%, hsla(242, 100%, 70%, 1)0, transparent 50%),
    radial-gradient(at 0% 0%, hsla(242, 93%, 56%, 1)0, transparent 50%);
}

.white-glassmorphism{
    background-image : #ffffff;
    background-image : radial-gradient(at 40% 20%, hsla(26, 29%, 96%, 1)0, transparent 50%),
    radial-gradient(at 80% 0%, hsla(192, 15%, 94%, 1)0, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355, 85%, 93%, 1)0, transparent 50%),
    radial-gradient(at 80% 50%, hsla(192, 100%, 80%, 1)0, transparent 50%),
    radial-gradient(at 0% 100%, hsla(0, 0%, 100%, 1)0, transparent 50%),
    radial-gradient(at 80% 100%, hsla(240, 8%, 92%, 1)0, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1)0, transparent 50%);
}

.bg-chat{
    background-image: url(images/bg.jpg)
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display : none;
}

/* #spinner {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#spinner:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
} */

.rotate{
    transform: rotateY(45deg);
    animation: rotateAnimation 1s linear infinite;
    animation-direction: reverse;
}

@keyframes rotateAnimation {
    from {
        transform: rotateY(45deg);
    }
    to {
        transform: rotateY(225deg);
    }
}
